html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: var(--gray04);
}

html {
  scroll-behavior: smooth;

  width: var(--container-width);
  margin: var(--container-margin);

  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 728px) {
    font-size: 87.5%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button,
.button {
  cursor: pointer;

  &:active {
    opacity: 0.5;
  }
}

:root {
  --container-width: 90vw;
  --container-margin: auto;

  // ===== Imports =====
  // Source-Sans
  @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
  // Valorant Font
  @font-face {
    font-family: "Valofont";
    src: url("../src/assets/fonts/valofont.ttf") format("truetype");
  }

  // ===== Fonts =====
  --font-SourceSans: "Source Sans Pro", sans-serif;
  --font-valofont: "Valofont";

  // ===== Colors =====
  // Primary Colors
  --primary: #ff4654;
  --primary-light: #ff8189;

  // Secondary Colors
  --white: #ece8e1;
  --white-gray01: #050507;
  --white-gray02: #a8a8b3;

  // Auxiliary Colors
  --red-dark: #9e1515;
  --red: #b65050;
  --red-login: #ea4335;
  --red-light: #cf8a8a;
  --orange-dark: #f49f1f;
  --orange: #f8ae3f;
  --orange-light: #ffd569;
  --green-dark: #199d26;
  --green: #159e76;
  --green-light: #8acfbb;
  --blue-dark: #5a68df;
  --blue: #7683f6;
  --blue-light: #9ca5fb;

  // Gray Colors
  --gray01: #101822;
  --gray02: #18212a;
  --gray03: #121b26;
  --gray04: #7a7786;
  --gray05: #8c8a97;

  // React tost
  --toastify-color-info: #ff4654;
  --toastify-color-success: var(--green);
  --toastify-color-warning: var(--orange-light);
  --toastify-color-error: var(var(--red-login));

  // ===== Typography =====
  // Web
  // SourceSans - Titles & Highlights
  .heading48 {
    font-family: var(--font-valofont);
    font-size: 3rem;
    line-height: 130%;
  }

  .heading40 {
    font-family: var(--font-valofont);
    font-size: 2.25rem;
    line-height: 130%;
  }

  .heading28 {
    font-family: var(--font-valofont);
    font-size: 1.75rem;
    line-height: 130%;
  }

  .heading24 {
    font-family: var(--font-valofont);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 130%;
  }

  .heading20 {
    font-family: var(--font-valofont);
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 150%;
  }

  .heading18 {
    font-family: var(--font-valofont);
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 118%;
  }

  // Inter UI - General Texts
  .body18 {
    font-family: var(--font-SourceSans);
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 160%;
  }

  .body16 {
    font-family: var(--font-SourceSans);
    font-weight: 600;
    font-size: 1rem;
    line-height: 150%;
    font-style: normal;
  }

  .body14 {
    font-family: var(--font-SourceSans);
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 150%;
  }

  // - - - - Scroll - - - - - - - - - - //

  *::-webkit-scrollbar {
    width: 6px;
    height: 100%;
  }

  *::-webkit-scrollbar-track {
    border-radius: 2px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 8px;
  }

  .nav-toggle {
    transform: translateX(0);
    z-index: 2;
    background: var(--gray02);
    opacity: 0.9;
  }
}
